<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Details Id : <%= emply.id %> </h1>
    <div class="show">
        <center><h3>Employee details</h3></center><hr>
        <b>Name : </b><%= emply.name %><br>
        <b>Contact : </b><%= emply.tel %> <br>
        <b>Address : </b><%= emply.add %> <br>
        <b>Deprt. : </b><%= emply.deprt %> <br>
        <b>Salary : </b><%= emply.salary %> <br><br>
        <button><a href="/emp">Go Back</a></button>
    </div>
</body>
</html>